.highlight {
  margin: 10px 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px -1px 2px rgba(0,0,0,0.2);
}
code {
  padding: 2px 5px;
  color: #84cc16;
}
.gutter {
  font-size: 0.875rem;
}
.gutter .line {
  display: inline-block;
  padding: 0 0.5rem;
}
.code {
  font-size: 0.875rem;
}
.code pre {
  padding: 0.25rem 0;
}
.code .line {
  display: inline-block;
  padding: 0 0.5rem;
}
.code .comment,
.code .quote {
  color: code_color;
}
.code .keyword,
.code .selector-tag,
.code .addition {
  color: code_color;
}
.code .number,
.code .string,
.code .meta .meta-string,
.code .literal,
.code .doctag,
.code .regexp {
  color: code_color;
}
.code .title,
.code .section,
.code .name,
.code .selector-id,
.code .selector-class {
  color: code_color;
}
.code .attribute,
.code .attr,
.code .variable,
.code .template-variable,
.code .class .title,
.code .type {
  color: code_color;
}
.code .symbol,
.code .bullet,
.code .subst,
.code .meta,
.code .meta .keyword,
.code .selector-attr,
.code .selector-pseudo,
.code .link {
  color: code_color;
}
.code .built_in,
.code .deletion {
  color: code_color;
}
